<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MS Dhoni</key>
	<string></string>
	<key>G Gambhir</key>
	<string></string>
	<key>V Kohli</key>
	<string></string>
	<key>Yuvraj Singh</key>
	<string></string>
	<key>SR Tandulkar</key>
	<string></string>
</dict>
</plist>
