<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Australia</key>
	<string></string>
	<key>Bangladesh</key>
	<string></string>
	<key>England</key>
	<string></string>
	<key>India</key>
	<string></string>
	<key>Pakistan</key>
	<string></string>
	<key>South Africa</key>
	<string></string>
	<key>Sri Lanka</key>
	<string></string>
	<key>Zimbavwe</key>
	<string></string>
</dict>
</plist>
